@charset "UTF-8";

body{
    width:800px;
    margin:0 auto;
}

h1{
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

    .MTMP{width: 800px;
        margin-left: auto;
        margin-right: auto;}
h2{background-color: antiquewhite;}


 .a:link{color:#00f;}
.a:visited{color:#aaa;}
.a:hover{color:#e00a44;}
